<html>
  <%= render_partial "base/_head.html.erb" %>

  <body>
    <div>
      <h1>Ruby Funicular</h1>
      
      <ul>
        <li><a href="/dogs">Dogs</a></li>
        <li><a href="/cats">Cats</a></li>
      </ul>
    </div>
  </body>
</html>