<html>
  <head>
    <title>Ruby Funicular</title>
  </head>
  <body>
    <h1>Welcome to Ruby Funicular</h1>
    <p>It's a fun ride!</p>  
    <h2>Resources</h2>
    <ul>
      <li><a href="/dogs">Dogs</a></li>
    </ul>
  </body>
</html>